{% extends 'master/base.html' %}
{% block content %}
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Icons</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<center><h2 class="page-header">Cutter Order Details</h2></center>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					
					<div class="panel-body">
						<table class="table table-responsive table-bordered">
						    <thead>
						    <tr>
								<th>Sr. No.</th>
								<th>Cutter Name</th>
								<th>Jewellery</th>
						        <th>Weight Sent</th>
								<th>Weight Received</th>
								<th>Send Date</th>
								<th>Receive Date</th>
								<th>Cutting Cost</th>
								<th>Other Cost</th>
						    </tr>
							</thead>
							<tbody>
								{% for items in cutter %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>{{ items.cutter_id }}</td>
									<td>{{ items.jewellery_id }}</td>
									<td>{{ items.weight_sent }}</td>
									<td>{{ items.receive_weight }}</td>
									<td>{{ items.sent_date }}</td>
									<td>{{ items.receive_date }}</td>
									<td>{{ items.cutting_cost }}</td>
									<td>{{ items.other_cost }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
	</div><!--/.main-->
{% endblock %}